.account-settings {
  position: sticky;
  top: -10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 0px;
  padding: 0px;

  .info-user {
    display: flex;
    flex-direction: row;
    height: 100px;
    min-width: 270px;
    max-width: 300px;

    .img-source {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      height: 100px;

      .profile-image {
        width: 60px;
        height: 80px;
        border-radius: 50%;
        object-fit: fill;
      }
    }

    .primary-data {
      width: 180px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 2px;

      span {
        text-align: left;
        margin: 0;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        font-size: 12px;
        text-overflow: ellipsis;
        line-height: 1.5;
      }
    }
  }

  .settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 5px;

    .theme-button {
      display: grid;
      place-items: center;
      border-width: 0;
      border-radius: 50px;
      padding: 0px 2px;
      width: 32px;
      height: 32px;

      mat-icon {
        margin: 2px 0px 0px 0px;
        font-size: 1.4rem;
      }
    }

    .logout {
      height: 30px;
      width: 140px;
      border-width: 0px;
      font-size: 13px;
      font-weight: 600;
    }

    .logout {
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
    }
  }
}

.light-mode {
  background-color: #fbfbfb;

  .info-user {
    .img-source {
      .profile-image {
        background-color: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.197);
      }
    }

    .primary-data {
      span {
        color: #111111;
      }
    }
  }

  .settings {
    border-top: 1px solid #003d6e;

    .theme-button {
      background-color: #003d6e;

      mat-icon {
        color: #f1f1f1;
      }
    }

    .logout {
      background-color: #003d6e;
      color: #f1f1f1;
    }

    .theme-button:hover,
    .logout:hover {
      background-color: #3470a1;
    }
  }
}

.dark-mode {
  background-color: #292929;

  .info-user {
    .img-source {
      .profile-image {
        background-color: #eeeeee;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.297);
      }
    }

    .primary-data {
      span {
        color: #ffffff;
      }
    }
  }

  .settings {
    border-top: 1px solid #000000;

    .theme-button {
      background-color: #000000;

      mat-icon {
        color: #f1f1f1;
      }
    }

    .logout {
      background-color: #000000;
      color: #f1f1f1;
    }

    .theme-button:hover,
    .logout:hover {
      background-color: #191919;
    }
  }
}
