<section class="cases-section"
  [ngClass]="themeService.theme ? 'dark-mode' : 'light-mode'">
  <div class="cases-container">
    <mat-expansion-panel class="case-card" *ngFor="let caso of casos">
      <mat-expansion-panel-header class="card-container">
        <mat-panel-title class="card-container-content">
          <h2 class="title-card">{{caso.subject}}</h2>
        <div class="tracking-state-container">
          <div class="img-container" [class.active]="true">
            <img src="{{ themeService.theme ? '../../../assets/img/email-darkMode.png' : '../../../assets/img/email.png' }}" alt="sended">
          </div>
          <div class="conection-line" [class.active]="caso.stateName === 'En Proceso' || caso.stateName === 'Solucionado' || caso.stateName === 'Cerrado'"></div>
          <div class="img-container" [class.active]="caso.stateName === 'En Proceso' || caso.stateName === 'Solucionado' || caso.stateName === 'Cerrado'">
            <img src="{{ themeService.theme ? '../../../assets/img/receiver-darkMode.png' : '../../../assets/img/receiver.png' }}" alt="sended">
          </div>
          <div class="conection-line" [class.active]="caso.stateName === 'Solucionado' || caso.stateName === 'Cerrado'"></div>
          <div class="img-container" [class.active]="caso.stateName === 'Solucionado' || caso.stateName === 'Cerrado'">
            <img src="{{ themeService.theme ? '../../../assets/img/review-darkMode.png' : '../../../assets/img/review.png' }}" alt="sended">
          </div>
          <div class="conection-line" [class.active]="caso.stateName === 'Cerrado'"></div>
          <div class="img-container" [class.active]="caso.stateName === 'Cerrado'">
            <img src="{{ themeService.theme ? '../../../assets/img/problem-solving-darkMode.png' : '../../../assets/img/problem-solving.png' }}" alt="sended">
          </div>
        </div>
        <div class="description-texts">
          <span>Registrado</span>
          <span>En Proceso</span>
          <span>Solucionado</span>
          <span>Cerrado</span>
        </div>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <!-- <p class="resumen-caso">{{ caso.subject }}</p> -->
      <p class="creacion-caso">Fecha creación {{ caso.registrationDate | date:'yyyy-MM-dd hh:mm:ss'}}</p>
      <p class="aproximada-caso">Fecha aproximada {{ caso.solutionDateExpected | date:'yyyy-MM-dd hh:mm:ss'}}</p>
    </mat-expansion-panel>
  </div>
</section>
